*{
  background-color: #6699cc;
  text-align: center;
  color: #d3dbe6;
  font-family: 'Alegreya Sans', sans-serif;
  text-decoration: none;
  color: #000000
}


#Navbar{
  background::#aaaaa7;
  Padding-top: 5px;
  padding-bottom: 5px;
}
#Navbar li{
  display:inline-block;
}

#Navbar a{
  background-color: :#aaaaa7;
  font-family: 'Alegreya Sans', sans-serif;
  font-decoration: none;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 25px;
  color: #000000;
}

#Navbar a:hover{
  background-color: #e9c6ff;
  border-radius: 10px;
  display:block;
}
#Navbar ul{
  text-align: center;
}
#WeeksList{
  background:#fcec92;
  Padding-top: 5px;
  padding-bottom: 5px;
}
#WeeksList li{
  display:inline-flex;
}

#WeeksList a{
  background-color: #fcec92;
  font-family: 'Alegreya Sans', sans-serif;
  font-decoration: none;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 18px;
  color: #000000;
}

#WeeksList a:hover{
  background-color: #fff3b2;
  border-radius: 10px;
  display:block;
}
#WeeksList ul{
  text-align: center;
}
