*{
  background-color: #fcec92;
  text-align: center;
  color: #d3dbe6;
  font-family: 'PT Mono', monospace;
  text-decoration: none;
  color: #000000
}
.Title{
  font-size:100px;
}
#Navbar{
  background:#fcec92;
  Padding-top: 5px;
  padding-bottom: 5px;
}
#Navbar li{
  display:inline-block;
}

#Navbar a{
  background-color: #fcec92;
  font-family: 'PT Mono', monospace;
  font-decoration: none;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 25px;
  color: #000000;
}

#Navbar a:hover{
  background-color: #fff3b2;
  border-radius: 10px;
  display:block;
}
#Navbar ul{
  text-align: center;
}

h4 {
  padding: !important 0 5%;
}
